@*
    *
    * (c) 2021-2021 Copyright Andromede
    * Unauthorized use and disclosure strictly forbidden
    *
*@

@page "/CardManagment/Restorer/Cards/{id:int}"
@inject NavigationManager NavManager
@inject IModalService Modal
@inherits OwningComponentBase
@using Andromede.Pages.Modals

<AuthorizeView>
    <Authorized Context="_authContext">
        @if (GetCurrentRestorer() != null && Id == int.Parse(_authContext.User.Identity.Name))
        {
        <div class="top-row centered-title">
            <img class="small centered-image" src="img/andromede_white_bg.png" />
            <h1 class="to-hide-for-mobile">@_currentRestorer.RestaurantName</h1>
            <h3 class="to-hide-for-mobile">Bienvenue dans la gestion des cartes</h3>
            <h5>Vous pouvez ici ajouter, modifier ou supprimer une carte.</h5>
            @if (!_restorerRepository.GetCards(_currentRestorer.Id).Any())
            {
                <img src="img/ico/add_card.png" class="no-card-image" @onclick="@(() => Modal.Show<UploadCard>("Ajouter une carte"))" />
                <h4 style="margin-top : 20%">Vous n'avez aucune carte pour le moment.</h4>
                <h5>Veuillez cliquer sur l'icone : <img src="img/ico/add_card.png" class="add-card-image" /> afin d'ajouter votre première carte</h5>
            }
            @foreach (Card aCard in _restorerRepository.GetCards(_currentRestorer.Id))
            {
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="horizontal-division"></div>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row top-divider">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <h3><strong>@aCard.CardName</strong></h3>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <iframe src=@($"https://localhost:5001/Customer/Cards/{aCard.Id}.pdf") class="pdf-card-viewer" type='application/pdf' />
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row bottom-divider">
                    <div class="col-4">
                        <span @onclick="@(() => UpdateCurrentCard(aCard.Id, aCard.CardName))" class="oi oi-pencil card-management-button"></span>
                    </div>
                    <div class="col-4">
                        <img src="img/ico/add_card.png" class="add-card-image" @onclick="@(() => Modal.Show<UploadCard>("Upload a card"))" />
                    </div>
                    <div class="col-4">
                        <span @onclick="@(() => DeleteCurrentCard(aCard.Id, aCard.CardName))" class="oi oi-trash card-management-button"></span>
                    </div>
                </div>

            }


        </div>
        }
        else
        {
            <Andromede.Pages.NotAuthorizedViewer />
        }
    </Authorized>
    <NotAuthorized>
        <Andromede.Pages.NotAuthorizedViewer />
    </NotAuthorized>
</AuthorizeView>


@code
{
    [Parameter]
    public int Id { get; set; }

    private Restorer _currentRestorer;
    private List<Card> _cards;
    private IRestorerRepository _restorerRepository;

    protected override void OnInitialized()
    {
        _restorerRepository = ScopedServices.GetRequiredService<IRestorerRepository>();
    }

    public Restorer GetCurrentRestorer()
    {
        _currentRestorer = _restorerRepository.GetRestorerWithId(Id);
        return _currentRestorer;
    }

    public void DeleteCurrentCard(int iCardId, string iCardName)
    {
        var aParameters = new ModalParameters();
        aParameters.Add(nameof(Card.Id), iCardId);
        var aOptions = new ModalOptions()
        {
            HideCloseButton = true,
            Animation = ModalAnimation.FadeInOut(0.5)
        };
        Modal.Show<DeleteCard>($"Supprimer : {iCardName}", aParameters, aOptions);
    }

    public void UpdateCurrentCard(int iCardId, string iCardName)
    {
        var aParameters = new ModalParameters();
        aParameters.Add(nameof(Card.Id), iCardId);
        Modal.Show<UpdateCard>($"Modifier : {iCardName}", aParameters);
    }
}

