@*
    *
    * (c) 2021-2021 Copyright Andromede
    * Unauthorized use and disclosure strictly forbidden
    *
*@
@inject IJSRuntime jsRuntime
@inject NavigationManager NavManager
@inject ICardRepository CardRepository

@inherits OwningComponentBase

<AuthorizeView>
    <Authorized Context="_authContext">
        @if (Restorer != null)
        {
            <div class="top-row px-2 centered-title">
                <img class="small centered-image bottom-divider to-hide-for-mobile" src="img/andromede_white_bg.png" />
                <h6 class="to-hide-for-mobile">Vous pouvez sélectionner une nouvelle carte, ou modifier son nom</h6>
                <h6 class="bottom-divider">Format accepté</h6>
                <img class="accepted-format-image centered-image" src="img/ico/pdf.png" />
            </div>
            <EditForm Model="@_restorerCard" OnValidSubmit="@CardAdded">
                <div class="form-row connexion-div">
                    <div class="form-group col-sm-2"></div>
                    <div class="form-group col-sm-8">
                        <label for="cardName"><span class="oi oi-clipboard form-icon"></span>Nom de la carte</label>
                        <InputText type="text" class="form-control" id="cardName" placeholder="Carte du jour" @bind-Value="_restorerCard.CardName" />
                        <ValidationMessage For="@(() => _restorerCard.CardName)" />
                        <p style="color:red" class="top-divider">@_cardInfos</p>
                    </div>
                    <div class="form-group col-sm-2"></div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-1"></div>
                    <div class="form-group col-sm-10">
                        <div class="drag-drop-zone">
                            <BlazorInputFile.InputFile OnChange="ViewFileAndCardName" accept="application/pdf,application/vnd.ms-excel" />
                            Glissez un fichier ou cliquez pour déposer une fichier
                        </div>
                    </div>
                    <div class="form-group col-sm-1"></div>
                </div>


                <div class="centered-title bottom-divider">
                    <p>@_fileInfos</p>
                    <p style="color:red">@_fileError</p>
                    <p style="color:green">@_fileValidation</p>
                    <button type="submit" class="btn btn-andromede top-divider">Valider les modifications</button>
                    @if (_isLoading)
                    {
                        <div class="spinner-border text-andromede" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    }
                </div>

            </EditForm>
        }
    </Authorized>
    <NotAuthorized>
        <Andromede.Pages.NotAuthorizedViewer />
    </NotAuthorized>
</AuthorizeView>


@code {
    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public int CardId { get; set; }

    [Parameter]
    public Restorer Restorer { get; set; }

    private const int MAX_FILE_SIZE = 10 * 1024 * 1024; // 10MB
    private const int MAX_FILE_SIZE_MB = 10;

    private string _fileInfos;
    private string _fileValidation;
    private string _fileError;
    private string _cardInfos;

    private bool _isLoading;

    private IFileListEntry _fileToUpload;

    private Card _restorerCard;

    private List<string> _acceptedFileTypes;

    protected override void OnInitialized()
    {
        _acceptedFileTypes = new List<string>() { "application/pdf", "application/vnd.ms-excel" };
        _isLoading = false;
        _restorerCard = CardRepository.GetCardWithId(CardId);
    }

    void ViewFileAndCardName(IFileListEntry[] files)
    {
        _isLoading = true;
        _fileToUpload = files.FirstOrDefault();
        if (_fileToUpload == null)
        {
            return;
        }
        else if (_fileToUpload.Size > MAX_FILE_SIZE)
        {
            _fileInfos = $"Le fichier est trop gros. La taille maximale est : {MAX_FILE_SIZE_MB} MB.";
        }
        else if (!_acceptedFileTypes.Contains(_fileToUpload.Type))
        {
            _fileInfos = "Seuls les fichiers de type PDF sont acceptés";
        }
        else
        {
            _fileInfos = $"Nouvelle carte : {_fileToUpload.Name}";
        }
        _isLoading = false;
    }

    async Task CardAdded()
    {
        string aRestaurantSiretNumber = Restorer.RestaurantSiretNumber;
        if (_restorerCard.CardName.Length != 0 && _restorerCard.CardName.Length < 40)
        {
            _isLoading = true;
            _cardInfos = "";
            try
            {
                _fileInfos = "";
                _restorerCard = CardRepository.UpdateCard(_restorerCard);
                using Stream aFileToUploadStream = _fileToUpload.Data;
                var aFileToUploadPath = $"wwwroot/Customer/Cards/{_restorerCard.CardId}.pdf";
                using FileStream aFileStream = File.Create(aFileToUploadPath);
                await aFileToUploadStream.CopyToAsync(aFileStream);
            }
            catch
            {
                _fileError = "Une erreur est survenue, nous sommes désolé pour la gêne occasionnée, veuillez réessayer l'opération.";
            }
            _fileValidation = "La carte a été correctement modifiée.\n";
            NavManager.NavigateTo($"/CardManagment/Restorer/Cards/{Restorer.RestorerId}", forceLoad: true);
            _isLoading = false;
        }
        else
        {

            _cardInfos = "Veuillez entrer un nom valide (moins de 40 caractères).\n";
        }


    }
}
