@*
    *
    * (c) 2021-2021 Copyright Andromede
    * Unauthorized use and disclosure strictly forbidden
    *
*@

@page "/RestorerManagment/Login"

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavManager
@inject IModalService Modal
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject IRestorerRepository RestorerRepository

@inherits OwningComponentBase

@using Andromede.Pages.Modals
@using DatabaseConnection.RestorerModels

<div class="top-row px-2 centered-title ">
    <img class="small centered-image bottom-divider" src="img/andromede_white_bg.png" />
    <EditForm Model="@_restorerLogin" OnValidSubmit="@RestorerConnection" id="connexion-form">
        <DataAnnotationsValidator />
        <div class="form-row">
            <div class="form-group col-sm-10">
                <label for="userEmail"><span class="oi oi-person form-icon"></span>Adresse mail</label>
                <InputText type="email" class="form-control" id="userEmail" placeholder="nom@exemple.com" @bind-Value="_restorerLogin.EmailAddress" />
                <ValidationMessage For="@(() => _restorerLogin.EmailAddress)" />
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-10">
                <label for="userPassword"><span class="oi oi-key form-icon"></span>Mot de passe</label>
                <InputText type="@_inputType" class="form-control" id="userPassword" @bind-Value="_restorerLogin.Password" />
                <ValidationMessage For="@(() => _restorerLogin.Password)" />
            </div>
            <div class="form-group col-sm-2">
                <img id="password-eye-connexion" src="img/ico/password_eye.png" @onclick="ShowPassword" />
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-sm-10">
                <button type="submit" class="btn btn-andromede connexion-div">Connexion</button>
                <p id="errorOccurred" class="form-alert form-text">@_errorOccurred</p>
                @if (_isLoading)
                {
                    <div class="spinner-border text-andromede" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                }
            </div>
            <div class="col-sm-2"></div>
        </div>
    </EditForm>
</div>
<div>
    <a href="/RestorerManagment/Login" @onclick="AskForNewPassword" class="subform-connexion-link">Mot de passe oublié ?</a>
</div>
<div>
    <a href="RestorerManagment/Registration" class="subform-connexion-link">Pas encore inscrit ?</a>
</div>

@code {

    private string _errorOccurred;
    private string _inputType;
    private bool _isLoading;

    private RestorerLogin _restorerLogin;
    private Restorer _storedRestorer;

    protected override void OnInitialized()
    {
        _inputType = "password";
        _isLoading = false;
        _restorerLogin = new RestorerLogin();
        _storedRestorer = new Restorer();
    }

    async Task RestorerConnection()
    {
        _isLoading = true;
        _errorOccurred = "";
        _storedRestorer = RestorerRepository.GetRestorerWithEmailAddress(_restorerLogin.EmailAddress);
        if (isRestorerExisting() && isPasswordCorrect())
        {
            ((AndromedeAuthenticationStateProvider)AuthenticationStateProvider).RestorerIsAuthenticated(_storedRestorer.RestorerId);
            await LocalStorage.SetItemAsync("sId", _storedRestorer.RestorerId);
            if (_storedRestorer.Subscribed == true)
            {
                NavManager.NavigateTo($"/CardManagment/Restorer/Cards/{_storedRestorer.RestorerId}", forceLoad: true);
            }
            else
            {
                NavManager.NavigateTo("/RestorerManagment/Subscription", forceLoad: true);
            }

        }
        else
        {
            _errorOccurred = "L'adresse mail ou le mot de passe est incorrect";
        }
        _isLoading = false;
    }

    bool isRestorerExisting()
    {
        return _storedRestorer != null;
    }

    bool isPasswordCorrect()
    {
        return BCryptNet.Verify(_restorerLogin.Password, _storedRestorer.Password);
    }


    void ShowPassword()
    {
        if (_inputType == "password")
            _inputType = "text";
        else
            _inputType = "password";
    }

    void AskForNewPassword()
    {
        Modal.Show<AskForNewPassword>($"Réinitialiser le mot de passe");
    }
}