@page "/RestorerManagment/NewPassword/{ClaimGUID}"

@inject NavigationManager NavManager
@inject IModalService Modal
@inherits OwningComponentBase

@if (GetCurrentRestorerClaim() != null)
{
    <div class="top-row px-2 centered-title ">
        <img class="small centered-image bottom-divider" src="img/andromede_white_bg.png" />
        @if (IsGUIDEnded())
        {
            <div class="row">
                <div class="col-12">
                    <h3 class="bottom-divider">Le délai d'attente est dépassée, veuillez faire une autre demande</h3>
                </div>
            </div>
            <img class="bottom-divider" src="img/ico/forbidden.png" width="400" />
            <div class="row">
                <div class="col-5"></div>
                <div class="col-2">
                    <a href="/RestorerManagment/Login" class="btn btn-andromede bottom-divider">Connexion</a>
                </div>
                <div class="col-5"></div>
            </div>
        }
        else
        {
            <h6>Veuillez rentrer votre nouveau mot de passe</h6>
            <EditForm Model="@_currentRestorer" OnValidSubmit="@UpdateRestorerPassword" id="connexion-form">

                <div class="form-row">
                    <div class="form-group col-sm-10">
                        <label for="restorerPassword"><span class="oi oi-key form-icon"></span>Mot de passe</label>
                        <InputText type="@_passwordInputType" class="form-control" id="restorerPassword" @bind-Value="_newPassword" />
                        <ValidationMessage For="@(() => _currentRestorer.Password)" />
                    </div>
                    <div class="form-group col-sm-2">
                        <img class="password-eye-newpassword" src="img/ico/password_eye.png" @onclick="ShowPassword" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-10">
                        <label for="restorerConfirmationPassword"><span class="oi oi-key form-icon"></span>Confirmer le mot de passe</label>
                        <InputText type="@_confirmationPasswordInputType" class="form-control" id="restorerConfirmationPassword" @bind-Value="_confirmationPassword" />
                        <ValidationMessage For="@(() => _currentRestorer.Password)" />
                        <small id="missMatchedPasswords" class="form-alert form-text">@_missMatchedPasswords</small>
                    </div>
                    <div class="form-group col-sm-2">
                        <img class="password-eye-newpassword" src="img/ico/password_eye.png" @onclick="ShowConfirmationPassword" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-10">
                        <button type="submit" class="btn btn-andromede connexion-div">Valider</button>
                        @if (_isLoading)
                        {
                            <div class="spinner-border text-andromede" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        }
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </EditForm>
        }
    </div>
}
else
{
    if (_isPasswordChanged)
    {
        <div class="top-row centered-title">
            <div class="row bottom-divider">
                <div class="col-sm-12">
                    <img class="small centered-image bottom-divider" src="img/andromede_white_bg.png" />
                </div>
            </div>
            <div class="row bottom-divider">
                <div class="col-sm-12">
                    <img class="centered-image bottom-divider top-divider" src="img/ico/happy_boy.png" width="250" />
                </div>
            </div>
            <div class="row bottom-divider">
                <div class="col-sm-12">
                    <h3>Vous êtes en zone interdite, il n'y a rien ici</h3>
                </div>
            </div>
            <div class="row bottom-divider">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <button class="btn btn-andromede" @onclick="NavigateToLogin">Connexion</button>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    }
    else
    {
        <NotAuthorizedViewer />
    }

}

@code {
    [Parameter]
    public string ClaimGUID { get; set; }

    public IRestorerRepository _restorerRepository { get; set; }
    public IRestorerClaimRepository _restorerClaimRepository { get; set; }

    private Restorer _currentRestorer;
    private Restorer _restorerCopy;
    private RestorerClaim _currentRestorerClaim;

    bool _isLoading;
    bool _isPasswordChanged;

    string _passwordInputType;
    string _confirmationPasswordInputType;
    string _missMatchedPasswords;
    string _newPassword;
    string _confirmationPassword;
    string _hashedPassword;

    protected override void OnInitialized()
    {
        _restorerRepository = ScopedServices.GetRequiredService<IRestorerRepository>();
        _restorerClaimRepository = ScopedServices.GetRequiredService<IRestorerClaimRepository>();
        _currentRestorer = new Restorer();
        _restorerCopy = new Restorer();
        _currentRestorerClaim = new RestorerClaim();
        _isLoading = false;
        _isPasswordChanged = false;
        _passwordInputType = "password";
        _confirmationPasswordInputType = "password";
    }

    RestorerClaim GetCurrentRestorerClaim()
    {
        _currentRestorerClaim = _restorerClaimRepository.GetRestorerClaimWithGUID(ClaimGUID);
        if (_currentRestorerClaim != null)
        {
            _currentRestorer = _restorerRepository.GetRestorerWithId(_currentRestorerClaim.RestorerId);
        }
        return _currentRestorerClaim;
    }

    bool IsGUIDEnded()
    {
        return DateTime.Compare(_currentRestorerClaim.EndOfGUID, DateTime.Now) < 0;
    }

    void UpdateRestorerPassword()
    {
        if (_confirmationPassword.Length == 0)
        {
            _missMatchedPasswords = "Veuillez confirmer votre mot de passe";
        }
        else if (!IsPasswordConfirmed())
        {
            _missMatchedPasswords = "Les mots de passe ne correspondent pas";
        }
        else if (_confirmationPassword.Length < 6)
        {
            _missMatchedPasswords = "Champ trop court (entre 6 et 20 caractères)";
        }
        else
        {
            _isPasswordChanged = true;
            _currentRestorer.Password = _hashedPassword;
            _currentRestorer = _restorerRepository.UpdateProfile(_currentRestorer);
            _restorerClaimRepository.DeleteRestorerClaim(_currentRestorerClaim.RestorerClaimId);
        }

    }

    void NavigateToLogin()
    {
        NavManager.NavigateTo("/RestorerManagment/Login", forceLoad: true);
    }

    bool IsPasswordConfirmed()
    {
        _hashedPassword = BCryptNet.HashPassword(_newPassword);
        return BCryptNet.Verify(_confirmationPassword, _hashedPassword);
    }

    void ShowPassword()
    {
        if (_passwordInputType == "password")
            _passwordInputType = "text";
        else
            _passwordInputType = "password";
    }

    void ShowConfirmationPassword()
    {
        if (_confirmationPasswordInputType == "password")
            _confirmationPasswordInputType = "text";
        else
            _confirmationPasswordInputType = "password";
    }
}
