@*
    *
    * (c) 2021-2021 Copyright Andromede
    * Unauthorized use and disclosure strictly forbidden
    *
*@

@inject NavigationManager NavManager
@inherits OwningComponentBase

@page "/RestorerManagment/Profile"

<AuthorizeView>
    <Authorized Context="_authContext">

        @if(GetCurrentRestorer(_authContext.User.Identity.Name) != null)
        {
        <div class="top-row px-2 centered-title ">
            <img class="small centered-image bottom-divider" src="img/andromede_white_bg.png" />
            <h3>Bienvenue sur votre profil</h3>
            <h4>Vous pouvez modifier certaine informations si nécessaire</h4>
            <EditForm Model="@_modifiedRestorer" OnValidSubmit="@RestorerModified" id="modification-form">
                <div class="form-row">
                    <div class="form-group col-5">
                        <label for="userSiretNumber">
                            <span class="oi oi-list form-icon"></span>
                            Numéro de SIRET
                        </label>
                    </div>
                    <div class="form-group col-5">
                        <p class="form-control" id="restaurantSiretNumber">@_modifiedRestorer.RestaurantSiretNumber</p>
                    </div>
                </div>
                <div class="horizontal-division"></div>
                <div class="form-row">
                    <div class="form-group col-5">
                        <label for="userEmail">
                            <img class="form-img" src="img/ico/mail.png">
                            Addresse mail
                        </label>
                    </div>
                    <div class="form-group col-5">
                        <p class="form-control" id="emailAddress">@_modifiedRestorer.EmailAddress</p>
                    </div>
                </div>
                <div class="horizontal-division"></div>
                <div class="form-row">
                    <div class="form-group col-5">
                        <label for="restaurantName">
                            <img class="form-img" src="img/ico/fork_spoon.png" />
                            Nom du restaurant
                        </label>
                    </div>
                    <div class="form-group col-5">
                        <InputText type="text" class="form-control" id="restaurantName" @bind-Value="_modifiedRestorer.RestaurantName" placeholder="@_modifiedRestorer.RestaurantName" />
                    </div>
                </div>

                <div class="horizontal-division"></div>
                <div class="form-row">
                    <div class="form-group col-5">
                        <label for="userPhoneNumber">
                            <span class="oi oi-phone form-icon"></span>
                            Numéro de téléphone
                        </label>
                    </div>
                    <div class="form-group col-5">
                        <InputText type="tel" class="form-control" id="userPhoneNumber" @bind-Value="_modifiedRestorer.PhoneNumber" placeholder="@_modifiedRestorer.PhoneNumber" />
                    </div>
                </div>
                <div class="form-row top-divider">
                    <div class="form-group col-10">
                         <button type="submit" class="btn btn-andromede">Enregistrer les informations</button>
                        @if (_isLoading)
                        {
                             <div class="spinner-border text-andromede" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        }
                    </div>
                </div>
            </EditForm>
            <h6 class="top-divider validation-message">@_modificationState</h6>
        </div>
        }

    </Authorized>
</AuthorizeView>


@code {
    private Restorer _modifiedRestorer;
    private Restorer _currentRestorer;

    private IRestorerRepository _restorerRepository;

    private string _modificationState;

    private bool _isLoading;

    protected override void OnInitialized()
    {
        _restorerRepository = ScopedServices.GetRequiredService<IRestorerRepository>();
        _isLoading = false;
        _modifiedRestorer = new Restorer();
    }

    private void RestorerModified()
    {
        _isLoading = true;
        _restorerRepository.UpdateProfile(_modifiedRestorer);
        _modificationState = "Les modifications ont été effectuées";
        _isLoading = false;
    }

    private Restorer GetCurrentRestorer(string iId)
    {
        _modifiedRestorer = _restorerRepository.GetRestorerWithId(int.Parse(iId));
        return _modifiedRestorer;
    }
}
